<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block rss %}
  <link rel="alternate" type="application/atom+xml" title="ATOM"
    href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
  {% endblock %}
  <link rel="sitemap" href="/sitemap.xml" />
  <title>Tiny Team Blog</title>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/awsm.css">
  <style>
    ul {
      padding: 0;
      list-style-type: none
    }

    .title {
      margin-bottom: 50px
    }

    .section {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <header>
    <h1>Tiny-Team Adventures</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/atom.xml">Feed</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>
  <footer>
    &copy; 2020 Tiny Team
  </footer>
</body>

</html>